* {
    font-family: monospace;
}
a {
    font-size: 25px;
    transition: 0.3s;
    text-decoration: none;
    color: black;
    padding: 0 10px 0 10px;
}
a:hover {
    font-size: 27px;
    color: fuchsia;
}
.stopwatch {
    font-size: 50px;
}
nav {
    height: 60px;
}
nav, .stopwatch {
    background-color: bisque;
    text-align: center;
}
